// import @import @import "../../components/App/variables";
// Colours 
$main-background-colour-green: #89FAD0;
$secondary-colour-blue: #4EC9E1;
$secondary-colour-violet: #6796E5;
$secondary-colour-green: #228291;


// Sizes

$level2-height: 150px;
$level2-width: 110px;
$level1-height: 180px;
$level1-width: 130px;
$level0-height: 200px;
$level0-width: 150px;

$level-2-left: 650px;
$level-1-left: 500px;
$level0-left: 330px;
$level1-left: 180px;
$level2-left: 50px;