* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.appFrame {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  &-contentSection--centered {
    grid-column: 2
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}