* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.appFrame {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 100vh repeat(10, auto);
  &-contentSection--centered {
    grid-column: 2;
  }
  &-item {
    &--firstRow {
      grid-row: 1;
    }
    &--fullWidth {
      grid-column: 1 / -1;
    }
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
