@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap");
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lobster");
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit
}

a:hover {
  text-decoration: none;
  color: inherit
}

.appFrame {
  display: grid;
  grid-template-columns: 1fr 50px minmax(auto, 1100px) 50px 1fr;

  &-item {
    &--firstRow {
      grid-row: 1;
    }
    &--fullWidth {
      grid-column: 1 / -1;
    }
  }
  &-timeLineZone {
    position: relative;
    grid-column: 3;
    & > * {
      padding-bottom: 40px;
    }
  }

  &--paddingBottom {
    padding-bottom: 50px;
  }
  &--paddingTop {
    padding-top: 50px;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .appFrame {
    &--paddingBottom {
      padding-bottom: 50px;
    }
    &--paddingTop {
      padding-top: 50px;
    }
  }
}
@media screen and (max-width: 700px) {
  .appFrame {
    &--paddingBottom {
      padding-bottom: 40px;
    }
    &--paddingTop {
      padding-top: 40px;
    }
  }
}
@media screen and (max-width: 500px) {
  .appFrame {
    &--paddingBottom {
      padding-bottom: 20px;
    }
    &--paddingTop {
      padding-top: 20px;
    }
  }
}

@supports (-moz-appearance: none) {
  .appFrame {
    &-timeLineZone {
      display: inline-table;
    }
  }
}
