.ContactForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  &-label {
    margin-bottom: 5px;
    font-weight: 600;
  }
  &-input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    border: 1px solid #dddddd;
    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      padding: 3px 0px 3px 3px;
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }
  &-textArea {
    height: 80px;
    resize: none;
    margin-bottom: 5px;
  }
  &-textInput {
    margin-bottom: 5px;
    height: 25px;
    font-size: 0.8rem;
  }
  &-button {
    padding: 8px;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    align-self: center;
    color: white;
    background: black;
    font-weight: 700;
    margin-top: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .ContactForm {
    &-input {
      min-width: 20vw;
    }
  }
}
