.ContactForm {
  font-family: "Montserrat", sans-serif;
  grid-area: form;
  display: flex;
  flex-direction: column;
  &-label {
    margin-bottom: 5px;
    font-weight: 600;
  }
  &-input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  &-textArea {
    height: 80px;
    resize: none;
    margin-bottom: 5px;

  }
  &-textInput {
    margin-bottom: 5px;
    height: 25px;
    font-size: 0.8rem;

  }
  &-button {
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    margin-bottom: 5px;

  }
}

@media screen and (min-width: 1200px) {  
  .ContactForm {
    &-input {
      min-width: 30vw;
  
    }
  }
}