.parallaxTitle {
  position: absolute;
  font-size: 4rem;
  line-height: 6rem;
  margin-left: 2rem;
  font-weight: 600;


&-blinking {
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
}
}
@keyframes opacity {
0% {
  opacity: 1;
}

50% {
  opacity: 0
}

100% {
  opacity: 1;
}
}